body{
    font-family: 'Roboto', sans-serif;
    background: #343940;
    min-height: 100%;
}

body.login{
    background: #343940;
}

.login-box{
    margin-top: 25%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.login-box .brand{
    text-align: center;
    margin-bottom: 20px;
}

.login-box .brand h1{
    color: #fff;
    /*text-transform: uppercase;*/
}

.login-form input, .hakiki-form input, .hakiki-form select{
    border-radius: 0px;
    height: 50px;
    padding-left: 25px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.content-main{
    height: 100vh;
}

.menus{
    background: #343940;
    height: 100vh;
    padding: 0px;
}

.menus .logo{
    text-align: center;
    background: #FF7979;
    padding: 10px;
}

.navs{
    color: #7e7e7e;
}

.navs ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navs ul li{
    height: auto;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px solid #1c2128;
    cursor: pointer;
}

.navs ul li.active{
    border-left: 5px solid #FF7979;
    background: #1c2128;
}

.contents{
    background: #fafbfb;
    height: 100vh;
    padding: 0px;
}

.header{
    border-bottom: 1px solid #dedede;
    background: #fff;
    height: 85px;
    padding-left: 60px;
    padding-right: 60px;
}

.header .user{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    height: 85px;
}

.color-pink{
    color: #FF7979;
}

.no-radius{
    border-radius: 0px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 121, 121, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(255, 121, 121, 0.6);
  outline: 0 none;
}

.btn-login { 
  color: #FFFFFF; 
  background-color: #FF7979; 
  border-color: #FF7979; 
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #FFFFFF; 
  background-color: #EB6A6A; 
  border-color: #FF7979; 
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #FF7979; 
  border-color: #FF7979; 
} 
 
.btn-login .badge { 
  color: #FF7979; 
  background-color: #FFFFFF; 
}